<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBR3MdFPfbdA5zBJi7T93QDy_AI5xyoBgg</string>
	<key>GCM_SENDER_ID</key>
	<string>372928694462</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rola.bloomquest</string>
	<key>PROJECT_ID</key>
	<string>bloomquest-4bd8e</string>
	<key>STORAGE_BUCKET</key>
	<string>bloomquest-4bd8e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:372928694462:ios:ba6184229bd48288fef6ef</string>
</dict>
</plist>